[submodule "Assets/Plugins/UnityToolkit"]
	path = Assets/Plugins/UnityToolkit
	url = https://github.com/NicoIer/UnityToolkit.git
[submodule "Assets/Game/GameCore/StateSyncGameCore"]
	path = Assets/Game/GameCore/StateSyncGameCore
	url = https://github.com/NicoIer/StateSyncGameCore.git
